In [1]:
user_input = input("Enter a string:")
for i in user_input:
    print(i)

A
b
h
i
s
h
e
k

In [2]:
string = "Machine Learning"
len(string)

16

In [3]:
string = "Machine Learning"
count1 = 0
for i in string:
    count1 += 1
count1

16

In [4]:
sentence = "This is orange juice"
keyword = "orange"

if keyword in sentence:
    print(f"{keyword} is present in sentence")
else:
    print(f"{keyword} is not present in sentence")

orange is present in sentence

In [5]:
input_string = input("Enter a string:")
vowels = "aeiou"
consonants = "bcdfghjklmnpqrstvwxyz"
digits = "0123456789"
vowel_count = 0 
consonant_count = 0
digit_count = 0
whitespace_count = 0
for i in input_string:
    if i.lower() in vowels:
        vowel_count += 1 
    elif i.lower() in consonants:
        consonant_count += 1
    elif i in digits:
        digit_count += 1
    elif i.isspace():
        whitespace_count += 1
print("Vowels count : ", vowel_count)
print("Consonant count : ", consonant_count)
print("Digit count : ", digit_count)
print("Whitespace count : ", whitespace_count)

Vowels count :  7
Consonant count :  10
Digit count :  0
Whitespace count :  1

In [6]:
input_string = input("Enter a string:")
uppercase_count = 0 
lowercase_count = 0 
special_count = 0
numeric_count = 0
for i in input_string:
    if i.lower() in input_string:
        lowercase_count += 1
    elif i.upper() in input_string:
        uppercase_count += 1
    elif i.isdigit():
        numeric_count += 1
    else:
        special_count += 1
print("Upper case count: ", uppercase_count)
print("Lower case count: ",lowercase_count)
print("Special count: ",special_count)
print("Number of digits: ",numeric_count)

Upper case count:  1
Lower case count:  17
Special count:  0
Number of digits:  0

In [7]:
input_string = "Hello,have a good day"
vowels = "aeiouAEIOU"
new_string = ""
for i in input_string:
    if i.isalpha() and i in vowels:
        new_string += i 
print("original string:",input_string)
print("New string with consonants deleted:",new_string)

original string: Hello,have a good day
New string with consonants deleted: eoaeaooa

In [8]:
input_string = input("Enter a string:")
index = int(input("Enter the index to be removed:"))

if index < 0 or index > len(input_string):
    print("Invalid index")
else:
    new_string = input_string[:index] + input_string[index+1:]
    print("Original string: ", input_string)
    print("New string with index removed: ", new_string)

Original string:  Abhishek Wakchaure
New string with index removed:  Abhshek Wakchaure

In [9]:
input_string = input("Enter the string:")
if len(input_string) < 2:
    print("String should have at least 2 characters")
else:
    new_string = input_string[-1] + input_string[1:-1] + input_string[0]
    print("Original string: ", input_string)
    print("String with first and last characters exchanged: ", new_string)

Original string:  Abhishek Wakchaure
String with first and last characters exchanged:  ebhishek WakchaurA

In [10]:
input_string = input("Enter the string:")
word = ""
for i in input_string:
    word = i 
    count = input_string.count(word)
    print(f"In the given string {word} is been repeated {count} times")

In the given string A is been repeated 1 times
In the given string b is been repeated 1 times
In the given string h is been repeated 3 times
In the given string i is been repeated 1 times
In the given string s is been repeated 1 times
In the given string h is been repeated 3 times
In the given string e is been repeated 2 times
In the given string k is been repeated 2 times
In the given string   is been repeated 1 times
In the given string W is been repeated 1 times
In the given string a is been repeated 2 times
In the given string k is been repeated 2 times
In the given string c is been repeated 1 times
In the given string h is been repeated 3 times
In the given string a is been repeated 2 times
In the given string u is been repeated 1 times
In the given string r is been repeated 1 times
In the given string e is been repeated 2 times

In [13]:
s = str(input("Enter a string:"))
ss = s.split()
for i in ss:
    if i in ss:
        ss.count(i)
        print(f"{i} : {s.count(i)}")
    else:
        print("Word is not repeated")

Abhishek : 1
Wakchaure : 1

In [15]:
input_string = input("Enter a string:")
result = input_string[-10:]
result

' Wakchaure'

In [16]:
input_string = input("Enter a string:")
uppercase_count = 0 
for i in input_string[:4]:
    if i.isupper():
        uppercase_count += 1
if uppercase_count >= 2:
    new_string = input_string.upper()
    print("Uppercase string:", new_string)
else:
    print("No conversion required")

No conversion required

In [17]:
input_string = "This is a string with a newline.\n"
result = input_string.replace("\n","")
result

'This is a string with a newline.'

In [19]:
input_string = "32.054,23"
result = input_string.replace(",","*").replace(".",",").replace("*",".")
result

'32,054.23'

In [21]:
input_string = input("Enter a string:")
char_count = {}
for i in input_string:
    if i in char_count:
        print("First repeated character:",i)
        break
    char_count[i] = 1
else:
    print("No repeated character found")

First repeated character: h

In [22]:
input_string = input("Enter a string:")
even_count = 0 
odd_count = 0
for i in input_string:
    if i.isdigit():
        num = int(i)
        if num % 2 == 0:
            even_count += 1
        else:
            odd_count += 1 
print("Even numbers count :",even_count)
print("odd number count :",odd_count)

Even numbers count : 3
odd number count : 3

In [23]:
input_string = input("Enter a string:")
if input_string.isdigit() == True:
    print("String contains only digits")
else:
    print("String contains only alphabetes")

String contains only alphabetes

In [1]:
a = "Abhishek"
k = []
for i in a:
    if a.index(i)%2!=0:
        k.append(i)
k

['b', 'i', 'k']

In [2]:
input_string = input("Enter a string:")
if len(input_string)%5==0:
    result = input_string[::-1]
    print(result)
else:
    print("Length is not a multiple of 5")

Length is not a multiple of 5

In [3]:
input_string = str(input("Enter a string:"))
output_string = []
for i in input_string:
    if i not in output_string:
        output_string.append(i)
output_string

['A', 'b', 'h', 'i', 's', 'e', 'k']

In [4]:
num = eval(input("Enter a number:"))
for i in range(0,num + 1):
    print(i*i)

0
1
4
9
16
25

In [5]:
num = eval(input("ENter a number:"))
for i in range(0,num + 1):
    print(i*i*i)

0
1
8
27
64
125

In [6]:
n = eval(input("Enter a number:"))
for i in range(2,n):
    if n % i == 0:
        print("Not prime")
        break
    else:
        print("Prime number")
        break

Prime number

In [1]:
list1 = [1,2,3,4,5]
max(list1)

5

In [2]:
list1 = [4,5,8,9,5,3,7]
list1.sort()
list1

[3, 4, 5, 5, 7, 8, 9]

In [3]:
list1[-1]

9

In [4]:
list1 = [4,5,8,9,5,3,7]
list1.sort(reverse=True)
list1[0]

9

In [7]:
list1 = [1,2,3,4,5]
list1[-1:] + list1[1:-1] + list1[:1]

[5, 2, 3, 4, 1]

In [9]:
list1 = [1,2,3,4,5]
list1[0],list1[1] = list1[1],list1[0]
list1

[2, 1, 3, 4, 5]

In [11]:
list1 = [1,2,3,4,5]
list1.reverse()
list1

[5, 4, 3, 2, 1]

In [13]:
list1 = [1,2,3,4,5]
result = reversed(list1)
list(result)

[5, 4, 3, 2, 1]

In [14]:
list1 = [1,2,1,2,1,1,1,3,4,4]
list1.count(1)

5

In [15]:
list1 = [1,2,1,2,1,1,1,3,4,4]
num = 1
count1 = 0 
for i in list1:
    if i == num:
        count1 += 1
count1

5

In [16]:
list1 = [1,2,3,4,5]
sum1 = 0 
for i in list1:
    sum1 += i
sum1

15

In [18]:
list1 = [1,2,3,4,5]
mul1 = 1
for i in list1:
    mul1 *= i
mul1

120

In [1]:
list1 = [1,2,3,4,5]
len(list1)

5

In [2]:
list1 = [1,2,3,4,5]
print(range(len(list1)))

range(0, 5)

In [3]:
list1 = [1,2,3,4,5]
count1 = 0
for i in list1:
    count1 += 1
count1

5

In [4]:
list1 = []
num1 = int(input("Enter the number of elements you want in the list"))
for i in range(num1):
    item = int(input("Enter the item you want in list"))
    list1.append(item)
print("List is:",list1)

num2 = int(input("Enter the number you want to remove from the list"))
for i in range(len(list1)):
    if num2 == list1[i]:
        list1.remove(i)
        print("Deleted number from the list:",num2)
        print(list1)
        break
    else:
        print("Number not found in the list")

List is: [1, 2, 3, 4]
Number not found in the list
Number not found in the list
Deleted number from the list: 3
[1, 3, 4]

In [5]:
list1 = [2,5,6,12]
list2 = []
for i in list1:
    list2.append(i*i)
list2

[4, 25, 36, 144]

In [6]:
list1 = [2,5,6,12]
list2 = []
list2 = [(i**2) for i in list1]
list2

[4, 25, 36, 144]

In [7]:
even_numbers = []
odd_numbers = []
for i in range(0,152):
    if i % 2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)
print("Even numbers: ", even_numbers)
print("*"*380)
print("Odd numbers: ", odd_numbers)

Even numbers:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]

In [8]:
even_numbers = []
even_count = 0 
odd_numbers = []
odd_count = 0
for i in range(0,152):
    if i % 2 == 0:
        even_count += 1
        even_numbers.append(i)
    else:
        odd_count += 1
        odd_numbers.append(i)

print("Even numbers:", even_numbers)
print("*"*500)
print("Even count of numbers:", even_count)
print()
print()
print("Odd numbers:", odd_numbers)
print("*"*500)
print("Odd count of numbers:", odd_count)

Even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Even count of numbers: 76


Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd count of numbers: 76

In [9]:
l1=[1,2,3,"hello","welcome",4.12,5.35]
int_list = []
string_list = []
float_list = []
for i in l1:
    if type(i) == int:
        int_list.append(i)
    elif type(i) == float:
        float_list.append(i)
    elif type(i) == str:
        string_list.append(i)
print("Integer list: ", int_list)
print()
print("Float list: ", float_list)
print()
print("String list: ", string_list)

Integer list:  [1, 2, 3]

Float list:  [4.12, 5.35]

String list:  ['hello', 'welcome']

In [10]:
l1=[1,2,3,4]
l2=[4,5,6,7]
l2.extend(l1)
l2

[4, 5, 6, 7, 1, 2, 3, 4]

In [11]:
l1=[10, 2, 4, 5, 6, 2, 9, 1, 7, 5, 4, 11, 30]
result = sorted(l1,reverse=True)
result[2]

10

In [12]:
l1=[1,2,3,4,1,2,3,4]
l2 = {}
for i in l1:
    if i in l2:
        l2[i] += 1
    else:
        l2[i] = 1
l2

{1: 2, 2: 2, 3: 2, 4: 2}

In [13]:
l1=[[1,2,3,4],1,2,3,4]
l2=[1,2,3,4]
if l2 in l1:
    print("L2 is subset of l1")
else:
    print("L2 is not a subset of l1")

L2 is subset of l1

In [14]:
l1=[10,20,30,40]
l2=[10,20,30,50]
result = set(l1)&set(l2)
result

{10, 20, 30}

In [15]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
result = list(chain(*l1))
result

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
tuple1 = (2,5,3,1,6,8,4)
result = sorted(tuple1)
result

[1, 2, 3, 4, 5, 6, 8]

In [18]:
l1 = [11, 33, 50]
for i in l1:
    print(i,end="")

113350

In [19]:
l1 = [1]
if l1 == []:
    print("List is empty")
else:
    print("List is not empty")

List is not empty

In [20]:
l1=[1,2,3]
l2=[4,5,6]
l1+l2

[1, 2, 3, 4, 5, 6]

In [21]:
l1=[1,2,3,1,2,3,4,5,6,4,5,6]
l1.count(1)

2

In [22]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
result = list(chain(*l1))
result

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
key_value={'l':11,'o':89,'a':88,'d':42,'p':5}
result = dict(sorted(key_value.items(),key=lambda x : x[0]))
result

{'a': 88, 'd': 42, 'l': 11, 'o': 89, 'p': 5}

In [2]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
result = dict(sorted(dt.items(),key=lambda x : x[1]))
result

{'cc': 3, 'bb': 6, 'dd': 12, 'aa': 44}

In [3]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
result = dt.values()
sum(result)

65

In [4]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
sum1 = 0 
for i in dt.values():
    sum1 += i
sum1

65

In [5]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
del test_dict["Arushi"]

In [6]:
test_dict

{'Mani': 21, 'Haritha': 21}

In [7]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
test_dict.pop("Arushi")

22

In [8]:
test_dict

{'Mani': 21, 'Haritha': 21}

In [9]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
result = {**d1,**d2}
result

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [10]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
result = {**d2,**d1}
result

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [12]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
d1.update(d2)
d1

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [13]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
d2.update(d1)
d2

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [15]:
def calc(percent):
    if percent >= 90:
        return "A+"
    elif 80 <= percent < 90:
        return "A"
    elif 70 <= percent < 80:
        return "B"
    elif 60 <= percent < 70:
        return "C"
    elif 50 <= percent < 60:
        return "D"
    else:
        return "Fail"
    
def main():
    total_marks = 0 
    no_of_subjects = int(input("Enter the number of subjects:"))

    for i in range(no_of_subjects):
        marks = eval(input("Enter the marks of the subject:"))
        total_marks += marks

    average_percent = total_marks / no_of_subjects
    grade = calc(average_percent)
    print(f"Percentage recieved by the student is : {average_percent}")
    print(f"Grade recieved by Student is :{grade}")

if __name__ == "__main__":
    main()

Percentage recieved by the student is : 53.0
Grade recieved by Student is :D

In [17]:
words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]
anagram_dict = {}
for word in words:
    sorted_word = " ".join(sorted(word))

    if sorted_word in anagram_dict:
        anagram_dict[sorted_word].append(word)
    else:
        anagram_dict[sorted_word] = [word]

anagram_dict

{'e i l n s t': ['listen', 'silent', 'enlist'],
 'e h l l o': ['hello'],
 'd l o r w': ['world'],
 'a c t': ['act', 'cat'],
 'd g o': ['dog', 'god']}

In [18]:
def check_bin(num1,num2):
    binary_num1 = bin(num1)[2:]
    binary_num2 = bin(num2)[2:]

    return sorted(binary_num1) == sorted(binary_num2)
num1 = 10 
num2 = 20 

if check_bin(num1,num2):
    print(f"The binary representation of {num1} and {num2} are anagrams")
else:
    print(f"The binary representation of {num1} and {num2} are not anagrams")

The binary representation of 10 and 20 are not anagrams

In [19]:
from collections import Counter
def largest(words):
    words_count = Counter("".join(sorted(word)) for word in words)

    result = max(words_count.values(),default=0)

    return result

word_list = ["listen", "silent", "enlist", "dog", "god", "good"]
result = largest(word_list)
result

3

In [20]:
list1 = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2]
freq = {}
for i in list1:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
freq

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [21]:
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]
result = dict(tups)
result

{'akash': 10,
 'gaurav': 12,
 'anand': 14,
 'suraj': 20,
 'akhil': 25,
 'ashish': 30}

In [22]:
numbers = [2, 3, 4, 5, 6]
result = [(num, num**3) for num in numbers]
result

[(2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

In [23]:
tuples_list = [(2, 8), (3, 27), (1, 1), (5, 125), (4, 64)]

result = sorted(tuples_list,key=lambda x : x[1])

result

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]