In [1]:
input_user = input("Enter a string:")
for i in input_user:
    print(i)

A
b
h
i
s
h
e
k

In [2]:
string = "Machine Learning"
print(len(string))

16

In [3]:
string = "Machine Learning"
count1 = 0
for i in string:
    count1 += 1
count1

16

In [4]:
sentence = "This is orange juice"
keyword = "orange"
if keyword in sentence:
    print(f"{keyword} is present in the sentence")
else:
    print(f"{keyword} is not present in the sentence")

orange is present in the sentence

In [5]:
input_string = input("Enter a string:")
vowels = "aeiou"
consonants = "bcdfghjklmnpqrstvwxyz"
digits = "0123456789"
vowel_count = 0 
consonant_count = 0
digit_count = 0
whitespace_count = 0 
for i in input_string:
    if i.lower() in vowels:
        vowel_count += 1
    elif i.lower() in consonants:
        consonant_count += 1
    elif i in digits:
        digit_count += 1
    elif i.isspace():
        whitespace_count += 1
print("Vowels count : ", vowel_count)
print("Consonant count : ", consonant_count)
print("Digit count : ", digit_count)
print("Whitespace count : ", whitespace_count)

Vowels count :  7
Consonant count :  10
Digit count :  0
Whitespace count :  1

In [6]:
input_string = input("Enter a string:")
uppercase_count = 0 
lowercase_count = 0 
special_count = 0
numeric_count = 0
for i in input_string:
    if i.islower():
        lowercase_count += 1
    elif i.isupper():
        uppercase_count += 1
    elif i.isdigit():
        numeric_count += 1
    else:
        special_count += 1
print("Upper case count: ", uppercase_count)
print("Lower case count: ",lowercase_count)
print("Special count: ",special_count)
print("Number of digits: ",numeric_count)

Upper case count:  1
Lower case count:  7
Special count:  1
Number of digits:  0

In [7]:
input_string = "Hello,have a good day"
vowels = "aeiouAEIOU"
new_string = ""
for i in input_string:
    if i.isalpha() and i in vowels:
        new_string += i

print("original string:",input_string)
print("New string with consonants deleted:",new_string)

original string: Hello,have a good day
New string with consonants deleted: eoaeaooa

In [8]:
input_string = input("Enter a string:")
index = int(input("Enter the index of the character to be removed"))

if index < 0 or index > len(input_string):
    print("Invalid index")
else:
    new_string = input_string[:index] + input_string[index+1:]
    print("Original string: ", input_string)
    print("New string with index removed: ", new_string)

Original string:  Abhishek
New string with index removed:  Abhshek

In [9]:
input_string = input("Enter a string:")
if len(input_string) < 2:
    print("String should have at least two characters")
else:
    new_string = input_string[-1] + input_string[1:-1] + input_string[0]
    print("Original string: ", input_string)
    print("String with first and last characters exchanged: ", new_string)

Original string:  Abhishek
String with first and last characters exchanged:  kbhisheA

In [10]:
s = str(input("Enter a string:"))
word = ""
for i in s:
    word = i
    count1 = s.count(word)
    print(f"In the given string {word} is been repeated {count1} times")

In the given string A is been repeated 1 times
In the given string b is been repeated 1 times
In the given string h is been repeated 2 times
In the given string i is been repeated 1 times
In the given string s is been repeated 1 times
In the given string h is been repeated 2 times
In the given string e is been repeated 1 times
In the given string k is been repeated 1 times

In [11]:
s = str(input("Enter a string:"))
ss = s.split()
for i in ss:
    if i in ss:
        ss.count(i)
        print(f"{i} : {s.count(i)}")
    else:
        print("Word is not repeated")

Abhishek : 1

In [12]:
input_string = input("Enter a string:")
result = input_string[-10:]
result

'Abhishek'

In [13]:
input_string = input("Enter a string:")
uppercase_count = 0 
for i in input_string[:4]:
    if i.isupper():
        uppercase_count += 1
if uppercase_count >= 2:
    uppercase_string = input_string.upper()
    print("Uppercase string: ",uppercase_string)
else:
    print("No conversion required")

Uppercase string:  ABHISHEK WAKCHAURE

In [14]:
input_string = "32.054,23"
result = input_string.replace(".","*").replace(",",".").replace("*",",")
result

'32,054.23'

In [15]:
input_string = input("Enter a string:")
char_count = {}
for i in input_string:
    if i in char_count:
        print("First repeated character:",i)
        break
    char_count[i] = 1
else:
    print("No repeated character found")

First repeated character: h

In [16]:
input_string = input("Enter a string:")
even_count = 0 
odd_count = 0

for i in input_string:
    if i.isdigit():
        num = int(i)
        if num % 2 == 0:
            even_count += 1
        else:
            odd_count += 1
print("Even numbers count :",even_count)
print("odd number count :",odd_count)

Even numbers count : 0
odd number count : 0

In [18]:
input_string = input("Enter a string:")
if input_string.isdigit() == True:
    print("String contains only digits")
else:
    print("String contains alphanumeric characters")

String contains alphanumeric characters

In [19]:
a = "Abhishek"
k = []
for i in a:
    if a.index(i)%2!=0:
        k.append(i)
k

['b', 'i', 'k']

In [20]:
input_string = input("Enter a string:")
if len(input_string)%5 == 0:
    result = input_string[::-1]
    print(result)
else:
    print("Length is not a multiple of 5")

Length is not a multiple of 5

In [21]:
input_string = str(input("Enter a string:"))
output_string = []
for i in input_string:
    if i not in output_string:
        output_string.append(i)
output_string

['A', 'b', 'h', 'i', 's', 'e', 'k']

In [22]:
num = eval(input("Enter a number:"))
for i in range(0,num+1): 
    print(i*i)

0
1
4
9
16
25

In [23]:
num = eval(input("Enter a number:"))
for i in range(0,num+1): 
    print(i*i*i)

0
1
8
27
64
125

In [24]:
n = eval(input("Enter a number:"))
for i in range(2,n):
    if n % i == 0:
        print("Not prime")
        break
    else:
        print("Prime number")
        break

Prime number

In [1]:
list1 = [1,2,3,4,5]
max(list1)

5

In [2]:
list1 = [1,2,3,4,5]
max1 = list1[0]
for i in list1:
    if i > max1:
        largest = i 
    else:
        largest = max1
print(largest)

5

In [3]:
list1 = [4,5,8,9,5,3,7]
list1.sort()
list1

[3, 4, 5, 5, 7, 8, 9]

In [4]:
max1 = list1[-1]
max1

9

In [5]:
list1 = [4,5,6,3,8]
list1.sort(reverse=True)
max1 = list1[0]
max1

8

In [7]:
list1 = [1,2,3,4,5]
list1[-1:] + list1[1:-1] + list1[:1]

[5, 2, 3, 4, 1]

In [8]:
list1 = [1,2,3,4,5]
list1[0],list1[1] = list1[1],list1[0]
list1

[2, 1, 3, 4, 5]

In [9]:
list1 = [1,2,3,4,5]
list1.reverse()
list1

[5, 4, 3, 2, 1]

In [10]:
list1 = [1,2,3,4,5]
result = reversed(list1)
list(result)

[5, 4, 3, 2, 1]

In [11]:
list1 = [1,2,1,2,1,1,1,3,4,4]
list1.count(1)

5

In [12]:
list1 = [1,2,1,2,1,1,1,3,4,4]
num = 1
count1 = 0
for i in list1:
    if i == num:
        count1 += 1
count1

5

In [13]:
list1 = [1,2,3,4,5]
sum1 = 0 
for i in list1:
    sum1 += i 
sum1

15

In [14]:
list1 = [1,2,3,4,5]
mul1 = 1
for i in list1:
    mul1 *= i
mul1

120

In [15]:
list1 = [1,2,3,4,5]
len(list1)

5

In [17]:
list1 = [1,2,3,4,5]
print(range(len(list1)))

range(0, 5)

In [18]:
list1 = [1,2,3,4,5]
count1 = 0
for i in list1:
    count1 += 1
count1

5

In [19]:
list1 = []
num = int(input("How many numbers you want in the list?"))
for i in range(num):
    item = int(input("Enter the item you want in the list:"))
    list1.append(item)
print(list1)

num1 = int(input("Enter the number you want to remove from the list?"))
for i in range(len(list1)):
    if num1 == list1[i]:
        list1.remove(num1)
        print("Deleted number from the list:",num1)
        print(list1)
        break
    else:
        print("Number not found in the list")

[1, 2, 3]
Number not found in the list
Deleted number from the list: 2
[1, 3]

In [20]:
list1 = [2,5,6,12]
list2 = []
for i in list1:
    list2.append(i**2)
list2

[4, 25, 36, 144]

In [21]:
list1 = [2,5,6,12]
list2 = []
result = [(i**2) for i in list1]
result

[4, 25, 36, 144]

In [22]:
even_numbers = []
odd_numbers = []
for i in range(0,152):
    if i % 2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)
print("Even numbers: ", even_numbers)
print("*"*380)
print("Odd numbers: ", odd_numbers)

Even numbers:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]

In [23]:
even_numbers = []
even_count = 0 
odd_numbers = []
odd_count = 0
for i in range(0,152):
    if i % 2 == 0:
        even_numbers.append(i)
        even_count += 1
    else:
        odd_numbers.append(i)
        odd_count += 1
print("Even numbers:", even_numbers)
print("*"*500)
print("Even count of numbers:", even_count)
print()
print()
print("Odd numbers:", odd_numbers)
print("*"*500)
print("Odd count of numbers:", odd_count)

Even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Even count of numbers: 76


Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151]
********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
Odd count of numbers: 76

In [2]:
l1=[1,2,3,"hello","welcome",4.12,5.35]
int_list = []
string_list = []
float_list = []
for i in l1:
    if type(i) == int:
        int_list.append(i)
    elif type(i) == float:
        float_list.append(i)
    elif type(i) == str:
        string_list.append(i)
print("Integer list: ", int_list)
print()
print("Float list: ", float_list)
print()
print("String list: ", string_list)

Integer list:  [1, 2, 3]

Float list:  [4.12, 5.35]

String list:  ['hello', 'welcome']

In [3]:
l1=[1,2,3,4]
l2=[4,5,6,7]
l2.extend(l1)
l2

[4, 5, 6, 7, 1, 2, 3, 4]

In [4]:
l1=[10, 2, 4, 5, 6, 2, 9, 1, 7, 5, 4, 11, 30]
result = sorted(l1,reverse=True)
result[2]

10

In [5]:
l1=[1,2,3,4,1,2,3,4]
freq = {}
for i in l1:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
freq

{1: 2, 2: 2, 3: 2, 4: 2}

In [6]:
l1=[[1,2,3,4],1,2,3,4]
l2=[1,2,3,4]
if l2 in l1:
    print("L2 is subset of l1")
else:
    print("L2 is not subset of l1")

L2 is subset of l1

In [7]:
l1=[10,20,30,40]
l2=[10,20,30,50]
result = set(l1) & set(l2)
result

{10, 20, 30}

In [8]:
l1=[[1,2,3],[4,5,6],[7,8,9]]
from itertools import chain
result = list(chain(*l1))
result

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
tuple1 = (2,5,3,1,6,8,4)
result = sorted(tuple1)
result

[1, 2, 3, 4, 5, 6, 8]

In [13]:
l1 = [11, 33, 50]
for i in l1:
    print(i,end="")

113350

In [14]:
l1 = [1]
if l1 == []:
    print("List is empty")
else:
    print("List is not empty")

List is not empty

In [15]:
l1=[1,2,3]
l2=[4,5,6]
l1+l2

[1, 2, 3, 4, 5, 6]

In [1]:
dict1 = {'ravi': '10', 'rajnish': '9',
        'sanjeev': '15', 'yash': '2', 'suraj': '32'}
from collections import OrderedDict
result = OrderedDict(sorted(dict1.items()))
result

OrderedDict([('rajnish', '9'),
             ('ravi', '10'),
             ('sanjeev', '15'),
             ('suraj', '32'),
             ('yash', '2')])

In [2]:
key_value={'l':11,'o':89,'a':88,'d':42,'p':5}
result = dict(sorted(key_value.items()))
result

{'a': 88, 'd': 42, 'l': 11, 'o': 89, 'p': 5}

In [3]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
result = dict(sorted(dt.items(),key=lambda x : x[1]))
result

{'cc': 3, 'bb': 6, 'dd': 12, 'aa': 44}

In [4]:
dt = {'aa':44, 'bb':6, 'cc':3,'dd':12}
result = dt.values()
sum(result)

65

In [5]:
def return_sum(dict1):
    sum1 = 0
    for i in dict1.values():
        sum1 += i
    return sum1
return_sum({'aa':44, 'bb':6, 'cc':3,'dd':12})

65

In [6]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
del test_dict["Arushi"]
test_dict

{'Mani': 21, 'Haritha': 21}

In [7]:
test_dict = {"Arushi": 22, "Mani": 21, "Haritha": 21}
test_dict.pop("Mani")

21

In [8]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
result = {**d1,**d2}
result

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [9]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
result = {**d2,**d1}
result

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [10]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
d1.update(d2)
d1

{'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32,
 'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12}

In [11]:
d1= {"Arushi": 22, "Mani": 21, "Haritha": 21,'Leena':32}
d2={'aa':44, 'bb':6, 'cc':3,'dd':12}
d2.update(d1)
d2

{'aa': 44,
 'bb': 6,
 'cc': 3,
 'dd': 12,
 'Arushi': 22,
 'Mani': 21,
 'Haritha': 21,
 'Leena': 32}

In [12]:
def calc(percent):
    if percent >= 90:
        return "A+"
    elif 80 <= percent < 90:
        return "A"
    elif 70 <= percent < 80:
        return "B"
    elif 60 <= percent < 70:
        return "C"
    elif 50 <= percent < 60:
        return "D"
    else:
        return "Fail"
    
def main():
    total_marks = 0
    no_of_subjects = int(input("Enter the number of subjects:"))

    for i in range(no_of_subjects):
        marks = eval(input("Enter the marks of the subjects:"))
        total_marks += marks

    average_percent = total_marks / no_of_subjects
    grade = calc(average_percent)
    print(f"Percentage recieved by the student is : {average_percent}")
    print(f"Grade recieved by Student is :{grade}")

if __name__ == "__main__":
    main()

Percentage recieved by the student is : 60.0
Grade recieved by Student is :C

In [16]:
words = ["listen", "silent", "enlist", "hello", "world", "act", "cat", "dog", "god"]
anagram_dict = {}
for word in words:
    sorted_word = " ".join(sorted(word))

    if sorted_word in anagram_dict:
        anagram_dict[sorted_word].append(word)
    else:
        anagram_dict[sorted_word] = [word]

anagram_dict.values()

dict_values([['listen', 'silent', 'enlist'], ['hello'], ['world'], ['act', 'cat'], ['dog', 'god']])

In [17]:
def check_bin(num1, num2):
    binary_1 = bin(num1)[2:]
    binary_2 = bin(num2)[2:]

    return sorted(binary_1) == sorted(binary_2)
num1 = 10
num2 = 20
if check_bin(num1, num2):
    print(f"The binary representation of {num1} and {num2} are anagrams")
else:
    print(f"The binary representation of {num1} and {num2} are not anagrams")

The binary representation of 10 and 20 are not anagrams

In [19]:
from collections import Counter
def largest(words):
    words_count = Counter("".join(sorted(word)) for word in words)

    result = max(words_count.values(),default=0)

    return result
word_list = ["listen", "silent", "enlist", "dog", "god", "good"]
final = largest(word_list)
final

3

In [20]:
list1 = [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,4, 4, 4, 2, 2, 2, 2]
freq = {}
for i in list1:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1

freq

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [21]:
tups = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]
result = dict(tups)
result

{'akash': 10,
 'gaurav': 12,
 'anand': 14,
 'suraj': 20,
 'akhil': 25,
 'ashish': 30}

In [22]:
numbers = [2, 3, 4, 5, 6]
result = [(num,num**3) for num in numbers]
result

[(2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

In [23]:
tuples_list = [(2, 8), (3, 27), (1, 1), (5, 125), (4, 64)]
result = sorted(tuples_list,key=lambda x : x[1])
result

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [1]:
subject_marks = [("English",88) , ("Science",90) , ("Maths",97) , ("Social sciences",82)]
result = sorted(subject_marks,key=lambda x : x[1])
result

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [2]:
result = sorted(subject_marks,key=lambda x : x[0])
result

[('English', 88), ('Maths', 97), ('Science', 90), ('Social sciences', 82)]

In [3]:
list1 = [{"name" : "Nandini" , "age" : 20} ,
        {"name" : "Manjeet" , "age" : 20} ,
        {"name" : "Nikhil" , "age" : 19}]
result = sorted(list1,key=lambda x : (x["age"],x["name"]))
result

[{'name': 'Nikhil', 'age': 19},
 {'name': 'Manjeet', 'age': 20},
 {'name': 'Nandini', 'age': 20}]

In [4]:
result = sorted(list1,key=lambda x : x["age"],reverse=True)
result

[{'name': 'Nandini', 'age': 20},
 {'name': 'Manjeet', 'age': 20},
 {'name': 'Nikhil', 'age': 19}]

In [5]:
input_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = [(lambda x : x**2)(num) for num in input_numbers]
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
result = [(lambda x : x**3)(num) for num in input_numbers]
result

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [7]:
result = lambda x : True if x.startswith("P") else False
print(result("Python"))

True

In [8]:
result = lambda x : True if x.startswith("P") else False
print(result("No"))

False

In [9]:
result = (lambda string : string.isdigit())(string = "1234")
result

True

In [10]:
result = (lambda string : string.isnumeric())(string = "1234")
result

True

In [11]:
import re
result = (lambda string : re.findall(r"[0-9]{1,}",string))(string="1234")
result

['1234']

In [12]:
num = 9
f1 = 0
f2 = 1
print(f1,f2,end=" ")
for i in range(2,num):
    f3 = f1 + f2
    f1,f2 = f2,f3
    print(f3,end=" ")

0 1 1 2 3 5 8 13 21

In [13]:
list1 = [1,2,3,4]
list2 = [3,4,5,6]
result = list(filter(lambda x : x in list1,list2))
result

[3, 4]

In [15]:
list1 = [-1,2,-3,5,7,8,9,-10]
result = lambda list1 : [x for x in list1 if x>=0] + [x for x in list1 if x<0]
print(result(list1))

[2, 5, 7, 8, 9, -1, -3, -10]

In [16]:
array_nums = [1,2,3,5,7,8,9,10]
result = len(list(filter(lambda x : (x % 2 !=0),array_nums)))
result

5

In [17]:
result = len(list(filter(lambda x : (x%2==0),array_nums)))
result

3

In [18]:
list1 = [1,2,3]
list2 = [4,5,6]
result = list(map(lambda x1,x2 : x1+x2,list1,list2))
result

[5, 7, 9]

In [19]:
list1 = [13,26,38,39,57,15,17]
result = list(filter(lambda x : (x%13==0 or x%19==0),list1))
result

[13, 26, 38, 39, 57]

In [20]:
texts = ["php" , "w3r" , "Python" , "abcd" ,"Java" , "aaa"]
result = list(filter(lambda x : (x == "".join(reversed(x))),texts))
result

['php', 'aaa']

In [21]:
from collections import Counter
texts = ["bcda","abce","cbda","cbea","adcb"]
str1 = "abcd"
result = list(filter(lambda x : (Counter(str1) == Counter(x)),texts))
result

['bcda', 'cbda', 'adcb']

In [22]:
list1 = [2,3,4,5]
result = list(map(lambda x : x**2,list1))
result

[4, 9, 16, 25]

In [23]:
list1 = [-1,-2,3,4]
pos_result = list(filter(lambda list1 : list1>0,list1))
pos_result

[3, 4]

In [24]:
neg_result = list(filter(lambda list1 : list1<0,list1))
neg_result

[-1, -2]

In [25]:
result = lambda list1 : list1 == sorted(list1)
sample_list_1 = [1, 2, 3, 4, 5]
sample_list_2 = [5, 3, 1, 4, 2]
result(sample_list_1)

True

In [26]:
result(sample_list_2)

False

In [27]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [2,4,6,8]
result = list(filter(lambda x : x not in list2,list1))
result

[1, 3, 5, 7, 9, 10]

In [28]:
tuple_str = (("223","ABCD","33") , ("1416","EFGH","55") , ("2345","WERT","34"))
result = tuple(map(lambda x : (int(x[0]),int(x[2])),tuple_str))
result

((223, 33), (1416, 55), (2345, 34))

In [29]:
nums = [3,4,5,8,0,3,8,5,0,3,1,5,2,3,4,2]
result = dict(map(lambda x : (x,list(nums).count(x)),nums))
result

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [30]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
result = list(map(lambda x1,x2,x3 : x1+x2+x3,l1,l2,l3))
result

[12, 15, 18]

In [31]:
l1 = ["yellow","blue","tricolor"]
result = list(map(list,l1))
result

[['y', 'e', 'l', 'l', 'o', 'w'],
 ['b', 'l', 'u', 'e'],
 ['t', 'r', 'i', 'c', 'o', 'l', 'o', 'r']]

In [32]:
l1 = [12,15,18]
result = list(map(lambda x : x**2,l1))
result

[144, 225, 324]

In [34]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]
result = list(map(lambda x,y : x+y,list1,list2))
result

[6, 6, 6, 6, 6]

In [35]:
result = list(map(lambda x,y: x-y,list1,list2))
result

[-4, -2, 0, 2, 4]

In [36]:
# Given list of integers
int_list = [1, 2, 3, 4, 5]

# Given tuple of integers
int_tuple = (6, 7, 8, 9, 10)

result = list(map(lambda x : str(x),int_list))
result

['1', '2', '3', '4', '5']

In [37]:
result = list(map(lambda x : str(x),int_tuple))
result

['6', '7', '8', '9', '10']

In [38]:
num_array = [1, 2, 3, 4, 5]
result = sum(map(lambda x : x,num_array))
result

15

In [39]:
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 4, 8, 9]
result = sum(map(lambda x,y : x == y,list1,list2))
result

2

In [40]:
list_tup = [("python","machine"),("learning","data science")]
result = list(map(" ".join,list_tup))
result

['python machine', 'learning data science']

In [41]:
l1 = [1,2,3]
l2 = [1,2,4,5,6]
result = list(filter(lambda x : x not in l1,l2))
result

[4, 5, 6]

In [43]:
string = "Hi i am abhishek"
from nltk.corpus import stopwords
final = stopwords.words("english")
result = filter(lambda x : x.lower() not in final,string)
result

In [44]:
l1 = [1,2,3]
l2 = [1,2,4,5,6]
result = list(filter(lambda x : x in l1,l2))
result

[1, 2]

In [45]:
l1 = [1,2,3]
result = list(filter(lambda x : x%2!=0,l1))
result

[1, 3]

In [46]:
l1 = [1,2,3]
result = list(filter(lambda x : x%2==0,l1))
result

[2]

In [2]:
with open("deadshot.txt","r")as f:
    result = f.read()
    print(result)

Data Science:
    It is an Interdisciplinary field that uses Scientific methods, processes, algorithms and systems to extract knowledge
    and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of
    application domains.1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing

In [3]:
with open("deadshot.txt","r")as f:
    result = f.readline()
    print(result)

Data Science:

In [4]:
text = """1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing"""
with open("deadshot.txt","a")as f:
    f.write(text)
    f.close()

In [5]:
with open("deadshot.txt","r")as f:
    result = f.readlines()
    final = result[-2:]
    print(final)

[' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing']

In [6]:
with open("deadshot.txt","r") as f:
    result = f.readlines()
    print(result)

['Data Science:\n', '    It is an Interdisciplinary field that uses Scientific methods, processes, algorithms and systems to extract knowledge\n', '    and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of \n', '    application domains.1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing']

In [7]:
with open("deadshot.txt","r") as f:
    result = f.readlines()
    print(len(result))

19

In [8]:
with open("deadshot.txt","r") as f:
    result = f.read()
    print(len(result))

768

In [9]:
import shutil
shutil.copy("deadshot.txt","Pablo.txt")

'Pablo.txt'

In [10]:
with open("Pablo.txt","r")as f:
    result = f.readlines()
    print(result)

['Data Science:\n', '    It is an Interdisciplinary field that uses Scientific methods, processes, algorithms and systems to extract knowledge\n', '    and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of \n', '    application domains.1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing']

In [11]:
from datetime import datetime

In [12]:
current_datetime = datetime.now()
print("Current datetime: ",current_datetime)

current_year = current_datetime.year
print("Current year: ",current_year)

month_of_year = current_datetime.strftime("%B")
print("Month of year: ",month_of_year)

week_number = current_datetime.strftime("%U")
print("Week number: ",week_number)

weekday = current_datetime.strftime("%A")
print("Week day: ",weekday)

day_of_year = current_datetime.strftime("%j")
print("Day of year: ",day_of_year)

day_of_month = current_datetime.strftime("%d")
print("Day of month: ",day_of_month)

Current datetime:  2024-06-27 08:37:40.647548
Current year:  2024
Month of year:  June
Week number:  25
Week day:  Thursday
Day of year:  179
Day of month:  27

In [13]:
year = int(input("Enter a year:"))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2025 is not a leap year

In [14]:
date_format = "jan 1 2014 2:43PM"
date1 = "%b %d %Y %I:%M%p"
result = datetime.strptime(date_format,date1)
print(result)

2014-01-01 14:43:00

In [15]:
from datetime import timedelta

current_datetime = datetime.now()
result = current_datetime + timedelta(days=-5)
print(result)

2024-06-22 08:43:26.452269

In [16]:
result = datetime.today() + timedelta(days=-1)
print("Yesterdays date :",result)

result = datetime.today() + timedelta(days=0)
print("Todays date :",result)

result = datetime.today() + timedelta(days=+1)
print("Tomorrows date :",result)

Yesterdays date : 2024-06-26 09:09:19.427030
Todays date : 2024-06-27 09:09:19.428128
Tomorrows date : 2024-06-28 09:09:19.428128

In [17]:
current_datetime = datetime.today()
print(current_datetime)

2024-06-27 09:12:38.019924

In [18]:
current_datetime = datetime.now().date()
print(current_datetime)

2024-06-27

In [19]:
for i in range(5):
    result = current_datetime + timedelta(days=i)
    print("Next 5 days starting from today:",result)

Next 5 days starting from today: 2024-06-27
Next 5 days starting from today: 2024-06-28
Next 5 days starting from today: 2024-06-29
Next 5 days starting from today: 2024-06-30
Next 5 days starting from today: 2024-07-01

In [20]:
current_datetime = datetime.now()
print(current_datetime)
result = current_datetime.replace(microsecond=0)
print(result)

2024-06-27 09:16:22.105656
2024-06-27 09:16:22

In [21]:
random_day = datetime(2024,8,12)
print(random_day)
result = random_day.strftime("%a %d %b %Y %U")
result

2024-08-12 00:00:00

'Mon 12 Aug 2024 32'

In [22]:
import os 
with open("Pablo.txt","w")as f:
    f.write("He is a good boy")
    f.close()

with open("Pablo.txt","r")as f:
    result = f.readlines()
    print(result)

['He is a good boy']

In [23]:
os.getcwd()

'd:\\Assignment'

In [24]:
os.listdir()

['.git',
 'Abhi.txt',
 'Abhishek.txt',
 'Adaboost_Ass.ipynb',
 'Assignment_1.ipynb',
 'Assignment_10.ipynb',
 'Assignment_11.ipynb',
 'Assignment_12.ipynb',
 'Assignment_2.ipynb',
 'Assignment_3.ipynb',
 'Assignment_4.ipynb',
 'Assignment_6.ipynb',
 'Assignment_7.ipynb',
 'Assignment_8.ipynb',
 'Assignment_9.ipynb',
 'Assignment_DT.ipynb',
 'Assignment_KNN.ipynb',
 'autos_dataset.csv',
 'Bengaluru_House_Data.csv',
 'Book2.csv',
 'Boston.csv',
 'deadshot.txt',
 'diabetes.csv',
 'Emp_data.csv',
 'Emp_Records.xlsx',
 'emp_test1.csv',
 'heart.csv',
 'Iris.csv',
 'Linear_reg_theory.ipynb',
 'loan_data.csv',
 'Logistic_reg_assignment.ipynb',
 'movies_data.csv',
 'NLP_lec2.ipynb',
 'Pablo.txt',
 'python_1.ipynb',
 'Python_2.ipynb',
 'python_3.ipynb',
 'README.md',
 'Sample1.xlsx',
 'Social_Network_Ads.csv',
 'student.csv',
 'titanic.csv',
 'weather.csv']

In [25]:
try:
    print("Hello")
except:
    print("Bye")

Hello

In [2]:
import re

In [3]:
string = "Python and Machine Learning 7741 is syllabus of Data Science."
result = re.findall(r"[a-zA-Z0-9]",string)
result

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 'a',
 'n',
 'd',
 'M',
 'a',
 'c',
 'h',
 'i',
 'n',
 'e',
 'L',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g',
 '7',
 '7',
 '4',
 '1',
 'i',
 's',
 's',
 'y',
 'l',
 'l',
 'a',
 'b',
 'u',
 's',
 'o',
 'f',
 'D',
 'a',
 't',
 'a',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e']

In [4]:
string = "Python and Machine Learning is syllabus of data science and deep learning."
result = re.split(r"and",string)
result

['Python ',
 ' Machine Learning is syllabus of data science ',
 ' deep learning.']

In [5]:
str1='Python and Data Science Batch 2023'
result = re.findall(r"\bab*[a-z]*\b",str1)
result

['and']

In [6]:
sample_string = "There are 123 45 678 90 2345 67 12 345 6789 0123 three-digit"
result = re.findall(r"\b\d{3}\s\d{2}\b",sample_string)
result

['123 45', '678 90']

In [7]:
str1= "python and data pytthon science pythonnn pyyth annd pythh"
result = re.findall(r"p+",str1)
result

['p', 'p', 'p', 'p', 'p']

In [8]:
str1 = 'We can write INFORM in lowercase as inform'
result = re.findall(r"INFORM|inform",str1)
result

['INFORM', 'inform']

In [9]:
str1= " data science and pytthon science abbbss and pyt"
result = re.findall(r"py?",str1)
result

['py', 'py']

In [10]:
str1= "python and data pbbbtthon science pytbbbonnn and pyt"
result = re.findall(r"\b\w*[b]{3}\w*\b",str1)
result

['pbbbtthon', 'pytbbbonnn']

In [11]:
str1= "abbbs and data abbbsolutely science abbrivation and pyt"
result = re.findall(r"\b\w*[b]{2,3}\w*\b",str1)
result

['abbbs', 'abbbsolutely', 'abbrivation']

In [12]:
str1= "abbbs and data abbbsolutely or science an abbrivation and pyt"
result = re.findall(r"\b\w{3,5}\b",str1)
result

['abbbs', 'and', 'data', 'and', 'pyt']

In [13]:
str1= "abbbs and data abbbsolutely or science_ an abbrivation_ and pyt_"
result = re.findall(r"[a-z]+[_]",str1)
result

['science_', 'abbrivation_', 'pyt_']

In [14]:
str1= "Abbbs and Data Abbbsolutely or Science_ an Abbrivation_ and pyt_"
result = re.findall(r"[A-Z][a-z]+[_]",str1)
result

['Science_', 'Abbrivation_']

In [15]:
str1= "data absorb Science and Abbrivation and pyt"
result = re.findall(r"\ba.+b\b",str1)
result

['absorb']

In [16]:
str1 = 'Suceess is a jurney not a desti9nation.'
result = re.findall(r"Suceess",str1)
result

['Suceess']

In [17]:
str1 = 'new begening of LIFE .'
result = re.findall(r"LIFE .",str1)
result

['LIFE .']

In [18]:
str1 = "today is the very lazy day"
result = re.findall(r"\w*z\w",str1)
result

['lazy']

In [19]:
str1 = "we have a lazy cat"
result = re.findall(r"[a-y]*z[a-y]",str1)
result

['lazy']

In [20]:
str1 = "RudrANSHI_12345_wadekar"
result = re.findall(r"\w{1,}",str1)
result

['RudrANSHI_12345_wadekar']

In [21]:
str1 = "9821 maya"
result = re.findall(r"^\d*",str1)
result

['9821']

In [22]:
ip_adress="216.008.904.196"
result = re.sub(r"\b0.","",ip_adress)
result

'216.8.904.196'

In [30]:
str1="Python is required for data science version 3.2"
result = re.findall(r"\b\d..\b",str1)
result

['3.2']

In [32]:
str1 = "Exercises number 1, 12, 13, and 345 are important"
result = re.findall(r"\d+",str1)
result

['1', '12', '13', '345']

In [33]:
Sample_text ='The quick brown fox jumps over the lazy dog.'
Searched_words ='fox', 'dog', 'horse'
for word in Searched_words:
    result = re.findall(word,Sample_text)
    print(result)

['fox']
['dog']
[]

In [34]:
sample_text ='The quick brown fox jumps over the lazy dog.'
result = re.search("fox",sample_text)
result

In [35]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
result = re.findall(r"exercises",Sample_text)
result

['exercises', 'exercises', 'exercises']

In [36]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
result = re.findall(r"exercises",Sample_text)
print(len(result))

3

In [37]:
str1 = 'The quick brown fox jumps over the lazy dog.'
result = re.sub(r"[ ]","_",str1)
print(result)
result = re.sub("[_]"," ",result)
print(result)

The_quick_brown_fox_jumps_over_the_lazy_dog.
The quick brown fox jumps over the lazy dog.

In [38]:
str1 = 'The quick brown fox jumps over the lazy dog.'
result = re.sub(r"[ ]","",str1)
result

'Thequickbrownfoxjumpsoverthelazydog.'

In [39]:
str1= "python and data science pythonnn"
result = re.findall(r"[p]\w*",str1)
result

['python', 'pythonnn']

In [40]:
str1= "data science and python learning with begening every evening "
result = re.findall(r"\b[a,e]\w*",str1)
result

['and', 'every', 'evening']

In [41]:
str1 = "i am mrunal chaudhari ,my age is 24"
result = re.search(r"\d",str1)
result

In [42]:
text ="""Python. is a general,purpose, interpreted."""
result = re.sub(r"[,. ]",":",text)
result

'Python::is:a:general:purpose::interpreted:'

In [43]:
text ="""Python., is a general purpose interpreted."""
result = re.sub(r"[,. ]{2}",":",text)
result

'Python: is a general purpose interpreted.'

In [44]:
text ="""123 Python is a general-purpose, interpreted,
high-level programming language popularly used for
website development, data analytics 78 and automation."""

result = re.findall(r"\b\D{3,5}\b",text)
result

[' is a', 'high-', 'level', ' used', ' for\n', 'data ', ' and ']