In [1]:
import re

In [2]:
with open("Abhishek.txt","r")as f:
    result = f.read()
    print(result)

Data Science:
    It is an Interdisciplinary field that uses Scientific methods, processes, algorithms and systems to extract knowledge
    and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of
    application domains.1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing

In [3]:
with open("Abhishek.txt","r")as f:
    result = f.readline()
    print(result)

Data Science:

In [4]:
text = """1st:- Data Science
 2nd:- Machine Learning
 3rd:- Deep Learning
 4th:- Natural Language Processing"""

with open("Abhishek.txt","a")as f:
    f.write(text)
    f.close()

In [5]:
with open("Abhishek.txt","r")as f:
    result = f.readlines()
    last_line = result[-2:]
    print(last_line)

[' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing']

In [6]:
with open("Abhishek.txt","r")as f:
    result = f.readlines()
    print(result)

['Data Science:\n', '    It is an Interdisciplinary field that uses Scientific methods, processes, algorithms and systems to extract knowledge\n', '    and insights from noisy, structured and unstructured data, and apply knowledge from data across a broad range of \n', '    application domains.1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing1st:- Data Science\n', ' 2nd:- Machine Learning\n', ' 3rd:- Deep Learning\n', ' 4th:- Natural Language Processing']

In [7]:
with open("Abhishek.txt","r")as f:
    result = f.readlines()
    print(len(result))

34

In [8]:
with open("Abhishek.txt","r")as f:
    result = f.read()
    print(len(result))

1258

In [9]:
import shutil

shutil.copy("Abhishek.txt","Abhishake.txt")

'Abhishake.txt'

In [10]:
with open("Abhishake.txt","r")as f:
    result = f.read()
    print(len(result))

1258

In [11]:
from datetime import datetime

current_datetime = datetime.now()
print("Current date and time:",current_datetime)

current_year = current_datetime.year
print("Current year:",current_year)

month_of_year = current_datetime.strftime("%B")
print("Month of year:",month_of_year)

week_number = current_datetime.strftime("%U")
print("Week number of year:",week_number)

weekday = current_datetime.strftime("%A")
print("Weekday :",weekday)

day_of_year = current_datetime.strftime("%j")
print("Day of year:",day_of_year)

day_of_month = current_datetime.strftime("%d")
print("Day of month:",day_of_month)

Current date and time: 2024-09-10 08:59:26.339249
Current year: 2024
Month of year: September
Week number of year: 36
Weekday : Tuesday
Day of year: 254
Day of month: 10

In [12]:
year = int(input("Enter a year:"))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2004 is a leap year

In [13]:
date_format = "jan 1 2014 2:43PM"
date1 = "%b %d %Y %I:%M%p"
result = datetime.strptime(date_format,date1)
print(result)

2014-01-01 14:43:00

In [14]:
from datetime import timedelta

current_datetime = datetime.today()
result = current_datetime + timedelta(days=-5)
print(result)

2024-09-05 09:24:11.036601

In [15]:
result = datetime.today() + timedelta(days=-1)
print("Yesterdays date:",result)
result = datetime.today() + timedelta(days=0)
print("Todays date :",result)
result = datetime.today() + timedelta(days=+1)
print("Tomorrows date:",result)

Yesterdays date: 2024-09-09 09:25:43.831636
Todays date : 2024-09-10 09:25:43.832637
Tomorrows date: 2024-09-11 09:25:43.832637

In [16]:
current_datetime = datetime.today().date()
print(current_datetime)

2024-09-10

In [17]:
for i in range(5):
    result = current_datetime + timedelta(days=i)
    print(result)

2024-09-10
2024-09-11
2024-09-12
2024-09-13
2024-09-14

In [18]:
current_datetime = datetime.today()
print(current_datetime)

result = current_datetime.replace(microsecond=0)
print(result)

2024-09-10 09:43:08.115721
2024-09-10 09:43:08

In [19]:
result = datetime(2024, 8 ,12)
print(result)
day = result.strftime("%a %d %b %Y %U")
print(day)

2024-08-12 00:00:00
Mon 12 Aug 2024 32

In [20]:
import os
os.rename("Abhishake.txt","Abhishek1.txt")

In [21]:
os.getcwd()

'd:\\Assignment'

In [22]:
os.listdir()

['.git',
 '.vscode',
 'Abhishek.txt',
 'Abhishek1.txt',
 'Adaboost_Ass.ipynb',
 'Assignment_1.ipynb',
 'Assignment_10.ipynb',
 'Assignment_11.ipynb',
 'Assignment_12.ipynb',
 'Assignment_2.ipynb',
 'Assignment_3.ipynb',
 'Assignment_4.ipynb',
 'Assignment_6.ipynb',
 'Assignment_7.ipynb',
 'Assignment_8.ipynb',
 'Assignment_9.ipynb',
 'Assignment_DT.ipynb',
 'Assignment_KNN.ipynb',
 'autos_dataset.csv',
 'Bengaluru_House_Data.csv',
 'Book2.csv',
 'Boston.csv',
 'deadshot.txt',
 'diabetes.csv',
 'Emp_data.csv',
 'Emp_Records.xlsx',
 'emp_test1.csv',
 'heart.csv',
 'Iris.csv',
 'Linear_reg_theory.ipynb',
 'loan_data.csv',
 'Logistic_reg_assignment.ipynb',
 'movies_data.csv',
 'NLP_lec2.ipynb',
 'Pablo.txt',
 'python_1.ipynb',
 'Python_2.ipynb',
 'python_3.ipynb',
 'Python_4.ipynb',
 'Python_5.ipynb',
 'Python_6.ipynb',
 'Python_7.ipynb',
 'Python_8.ipynb',
 'python_9.ipynb',
 'README.md',
 'Restaurant_Reviews.tsv',
 'Sample1.xlsx',
 'Social_Network_Ads.csv',
 'student.csv',
 'titanic.csv',
 'weather.csv']

In [23]:
try:
    print("hello")
except:
    print("Bye")

hello

In [1]:
import re

In [2]:
string = "Python and Machine Learning 7741 is syllabus of Data Science."
result = re.findall("[a-zA-Z0-9]",string)
result

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 'a',
 'n',
 'd',
 'M',
 'a',
 'c',
 'h',
 'i',
 'n',
 'e',
 'L',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g',
 '7',
 '7',
 '4',
 '1',
 'i',
 's',
 's',
 'y',
 'l',
 'l',
 'a',
 'b',
 'u',
 's',
 'o',
 'f',
 'D',
 'a',
 't',
 'a',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e']

In [3]:
string = "Python and Machine Learning is syllabus of data science and deep learning."
result = re.split(r"and",string)
result

['Python ',
 ' Machine Learning is syllabus of data science ',
 ' deep learning.']

In [4]:
str1='Python and Data Science Batch 2023'
result = re.findall(r"\bab*[a-z]*\b",str1)
result

['and']

In [5]:
sample_string = "There are 123 45 678 90 2345 67 12 345 6789 0123 three-digit"
result = re.findall(r"\b\d{3}\s\d{2}\b",sample_string)
result

['123 45', '678 90']

In [6]:
str1= "python and data pytthon science pythonnn pyyth annd pythh"
result = re.findall(r"p+",str1)
result

['p', 'p', 'p', 'p', 'p']

In [7]:
str1 = 'We can write INFORM in lowercase as inform'
result = re.findall(r"INFORM|inform",str1)
result

['INFORM', 'inform']

In [8]:
str1= " data science and pytthon science abbbss and pyt"
result = re.findall(r"py?",str1)
result

['py', 'py']

In [9]:
str1= "python and data pbbbtthon science pytbbbonnn and pyt"
result = re.findall(r"\b\w*[b]{3}\w*\b",str1)
result

['pbbbtthon', 'pytbbbonnn']

In [10]:
str1= "abbbs and data abbbsolutely science abbrivation and pyt"
result = re.findall(r"\b\w*[b]{2,3}\w*\b",str1)
result

['abbbs', 'abbbsolutely', 'abbrivation']

In [11]:
str1= "abbbs and data abbbsolutely or science an abbrivation and pyt"
result = re.findall(r"\b\w{3,5}\b",str1)
result

['abbbs', 'and', 'data', 'and', 'pyt']

In [12]:
str1= "abbbs and data abbbsolutely or science_ an abbrivation_ and pyt_"
result = re.findall(r"[a-z]+[_]",str1)
result

['science_', 'abbrivation_', 'pyt_']

In [13]:
str1= "Abbbs and Data Abbbsolutely or Science_ an Abbrivation_ and pyt_"
result = re.findall(r"[A-Z][a-z]+",str1)
result

['Abbbs', 'Data', 'Abbbsolutely', 'Science', 'Abbrivation']

In [14]:
str1= "data absorb Science and Abbrivation and pyt"
result = re.findall(r"\ba.+b\b",str1)
result

['absorb']

In [15]:
str1 = 'Suceess is a jurney not a desti9nation.'
result = re.findall(r"Suceess",str1)
result

['Suceess']

In [16]:
str1 = 'new begening of LIFE .'
result = re.findall(r"LIFE .",str1)
result

['LIFE .']

In [17]:
str1 = "today is the very lazy day"
result = re.findall(r"\w*z\w",str1)
result

['lazy']

In [18]:
str1 = "we have a lazy cat"
result = re.findall(r"[a-y]*z[a-y]",str1)
result

['lazy']

In [19]:
str1 = "RudrANSHI_12345_wadekar"
result = re.findall(r"\w{1,}",str1)
result

['RudrANSHI_12345_wadekar']

In [20]:
str1 = "9821 maya"
result = re.findall(r"^9",str1)
result

['9']

In [21]:
str1 = "9821 maya"
result = re.findall(r"^\d*",str1)
result

['9821']

In [22]:
ip_adress="216.008.904.196"
result = re.sub(r"\b0.","",ip_adress)
result

'216.8.904.196'

In [23]:
str1="Python is required for data science version 3.2"
result = re.findall(r"\d\b",str1)
result

['3', '2']

In [24]:
str1 = "Exercises number 1, 12, 13, and 345 are important"
result = re.findall(r"[0-9]+",str1)
result

['1', '12', '13', '345']

In [26]:
Sample_text ='The quick brown fox jumps over the lazy dog.'
Searched_words ='fox', 'dog', 'horse'
for word in Searched_words:
    result = re.findall(word,Sample_text)
    print(result)

['fox']
['dog']
[]

In [27]:
sample_text ='The quick brown fox jumps over the lazy dog.'
result = re.search("fox",sample_text)
result

In [28]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
result = re.findall(r"exercises",Sample_text)
result

['exercises', 'exercises', 'exercises']

In [29]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
result = re.findall(r"exercises",Sample_text)
print(len(result))
result = re.search(r"exercises",Sample_text)
print(result)

3
<re.Match object; span=(7, 16), match='exercises'>

In [30]:
str1 = 'The quick brown fox jumps over the lazy dog.'
result = re.sub(r"[ ]","_",str1)
print(result)
result = re.sub(r"[_]"," ",str1)
print(result)

The_quick_brown_fox_jumps_over_the_lazy_dog.
The quick brown fox jumps over the lazy dog.

In [31]:
str1 = 'The quick brown fox jumps over the lazy dog.'
result = re.sub(r"[ ]","",str1)
print(result)

Thequickbrownfoxjumpsoverthelazydog.

In [32]:
str1= "python and data science pythonnn"
result = re.findall(r"[p]\w*",str1)
result

['python', 'pythonnn']

In [33]:
str1= "data science and python learning with begening every evening "
result = re.findall(r"\b[a,e]\w*",str1)
result

['and', 'every', 'evening']

In [34]:
str1 = "i am mrunal chaudhari ,my age is 24"
result = re.search(r"\d",str1)
result

In [35]:
text ="""Python. is a general,purpose, interpreted."""
result = re.sub(r"[,. ]",":",text)
result

'Python::is:a:general:purpose::interpreted:'

In [36]:
text ="""Python., is a general purpose interpreted."""
result = re.sub(r"[,. ]{2}",":",text)
result

'Python: is a general purpose interpreted.'

In [37]:
text ="""123 Python is a general-purpose, interpreted,
high-level programming language popularly used for
website development, data analytics 78 and automation."""

result = re.findall(r"\b\D{3,5}\b",text)
result

[' is a', 'high-', 'level', ' used', ' for\n', 'data ', ' and ']

In [1]:
import numpy as np

In [2]:
arr1 = np.zeros(10)
arr1

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [3]:
arr1.nbytes

80

In [4]:
arr1 = np.zeros(10)
print(arr1)
arr1[4] = 1
print(arr1)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

In [5]:
arr1 = np.arange(15,46)
arr1

array([15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
       32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])

In [6]:
arr1[::-1]

array([45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29,
       28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15])

In [7]:
result = reversed(arr1)
list(arr1)

[15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45]

In [8]:
arr1 = np.random.randint(1,10,size=(2,2))
print("arr1:\n",arr1)
arr2 = np.random.randint(1,10,size=(2,2))
print("arr2:\n",arr2)

arr1:
 [[8 8]
 [8 2]]
arr2:
 [[1 3]
 [7 2]]

In [9]:
add1 = arr1 + arr2
add1

array([[ 9, 11],
       [15,  4]])

In [10]:
sub1 = arr1 - arr2
sub1

array([[7, 5],
       [1, 0]])

In [11]:
arr1 = np.array([1.3,1.8,2.3,3.9,1,4,1.9,9,.3])
arr1.round()

array([1., 2., 2., 4., 1., 4., 2., 9., 0.])

In [12]:
np.floor(arr1)

array([1., 1., 2., 3., 1., 4., 1., 9., 0.])

In [13]:
np.ceil(arr1)

array([2., 2., 3., 4., 1., 4., 2., 9., 1.])

In [14]:
arr1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
print("Array1:\n",arr1)
result = np.mean(arr1,axis=1)
print("Mean across row:",result)
result = np.mean(arr1,axis=0)
print("Mean across column:",result)

Array1:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
Mean across row: [2. 5. 8.]
Mean across column: [4. 5. 6.]

In [15]:
list1 = [0,30,45,60,90]
result = np.deg2rad(list1)
result

array([0.        , 0.52359878, 0.78539816, 1.04719755, 1.57079633])

In [16]:
arr1 = np.arange(9).reshape(3,3)
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [17]:
arr1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
print("Array:\n",arr1)
arr1[:: , ::-1]

Array:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

array([[3, 2, 1],
       [6, 5, 4],
       [9, 8, 7]])

In [18]:
arr1[::-1]

array([[7, 8, 9],
       [4, 5, 6],
       [1, 2, 3]])

In [19]:
result = np.nonzero([1,2,0,0,4,0])
result

(array([0, 1, 4], dtype=int64),)

In [20]:
arr1 = np.array([[1,2],[3,4]])
print("Array:\n",arr1)
result = np.linalg.det(arr1)
result

Array:
 [[1 2]
 [3 4]]

-2.0000000000000004

In [21]:
arr1 = np.array([[2,3],[3,9]])
print("Array:\n",arr1)
result = np.linalg.inv(arr1)
result

Array:
 [[2 3]
 [3 9]]

array([[ 1.        , -0.33333333],
       [-0.33333333,  0.22222222]])

In [22]:
arr1 = np.random.randint(1,10,size=(30))
print("Array:",arr1)
result = np.mean(arr1)
result

Array: [2 2 1 7 5 2 4 7 2 3 8 8 4 9 6 9 4 8 5 5 4 6 8 1 5 7 7 9 8 8]

5.466666666666667

In [23]:
arr1 = np.array([1,2,3,4,5,6,7,8,9,10])
print("array:\n",arr1)
arr2 = np.where(arr1>5)
print(arr2)

array:
 [ 1  2  3  4  5  6  7  8  9 10]
(array([5, 6, 7, 8, 9], dtype=int64),)

In [24]:
arr1 = np.random.random((3,3,3))
arr1

array([[[0.80042181, 0.6246056 , 0.20572009],
        [0.86840779, 0.23503064, 0.54542882],
        [0.98577812, 0.09325051, 0.51319221]],

       [[0.93863271, 0.50038801, 0.8240173 ],
        [0.47929381, 0.6338295 , 0.11239475],
        [0.3436931 , 0.67592373, 0.36397336]],

       [[0.01033536, 0.804228  , 0.96825003],
        [0.29874336, 0.47675233, 0.7678653 ],
        [0.1221137 , 0.03744465, 0.79493282]]])

In [25]:
arr1 = np.random.rand(10,10)
print("Array:\n",arr1)
result = np.max(arr1)
result

Array:
 [[0.79444525 0.08394643 0.36007886 0.50576652 0.54047939 0.35507455
  0.79299139 0.0555626  0.46871524 0.14221077]
 [0.55785976 0.65119085 0.20563506 0.23519738 0.28470101 0.27444445
  0.53844422 0.19083571 0.77971847 0.00789631]
 [0.62841188 0.51108207 0.18057125 0.02914652 0.46736269 0.60409922
  0.41121533 0.33030612 0.58205274 0.61804324]
 [0.22032663 0.02087588 0.75325864 0.80802116 0.08477352 0.39581567
  0.48911116 0.49062988 0.72310612 0.78256862]
 [0.88280037 0.93659672 0.99202489 0.13908647 0.20221298 0.06897259
  0.01176771 0.35261091 0.64202853 0.13066688]
 [0.50264401 0.94772334 0.26325506 0.17663933 0.14555608 0.04681247
  0.58266313 0.83991865 0.55686457 0.53960086]
 [0.65585307 0.02392691 0.76391467 0.31083804 0.19129122 0.14071074
  0.39276561 0.18465676 0.06549938 0.96882354]
 [0.33850933 0.95214329 0.00527046 0.75057035 0.54477305 0.4145659
  0.31559008 0.35697225 0.4095581  0.47633909]
 [0.47359585 0.44695175 0.72602746 0.31378831 0.7190031  0.11545867
  0.60328932 0.63940613 0.72775415 0.75019201]
 [0.808581   0.7337612  0.3336218  0.69328315 0.38206431 0.58502878
  0.46943528 0.9656869  0.94550005 0.56634213]]

0.9920248889808284

In [26]:
np.min(arr1)

0.0052704603388180615

In [27]:
arr1 = np.ones((10,10))
arr1[1:-1,1:-1] = 0
arr1

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [28]:
arr1 = np.zeros((5,5),dtype=int)
np.fill_diagonal(arr1[1:],[1,2,3,4])
arr1

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

In [29]:
arr1 = np.eye(3,3)
arr1

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [30]:
arr1 = np.random.randint(1,9,size=(5,3))
arr2 = np.random.randint(1,9,size=(3,2))
result = np.dot(arr1,arr2)
result

array([[75, 46],
       [54, 20],
       [33, 25],
       [26, 21],
       [31, 30]])

In [31]:
arr1 = np.array([1,2,3,4,5,6,7,8,44,9,33,6,5,10])
result = np.where((arr1>=3) & (arr1<=8),-1*arr1,arr1)
result

array([ 1,  2, -3, -4, -5, -6, -7, -8, 44,  9, 33, -6, -5, 10])

In [32]:
arr1 = np.array([[1.215413,2.654139],[3.4513056,5.2141555]])
print("Array:\n",arr1)
result = np.around(arr1,1)
result

Array:
 [[1.215413  2.654139 ]
 [3.4513056 5.2141555]]

array([[1.2, 2.7],
       [3.5, 5.2]])

In [33]:
arr1 = np.array([[1.215413,2.654139],[3.4513056,5.2141555]])
np.ceil(arr1)

array([[2., 3.],
       [4., 6.]])

In [34]:
np.floor(arr1)

array([[1., 2.],
       [3., 5.]])

In [35]:
arr1 = np.array([1,2,3,4,5,6])
arr2 = np.array([4,5,6,7,8,9])
result = np.intersect1d(arr1,arr2)
result

array([4, 5, 6])

In [36]:
arr1 = np.linspace(0,1,10)[1:-1]
arr1

array([0.11111111, 0.22222222, 0.33333333, 0.44444444, 0.55555556,
       0.66666667, 0.77777778, 0.88888889])

In [37]:
arr1 = np.random.randint(1,10,size=10)
print(arr1)
result = np.sort(arr1)
result

[7 5 3 1 6 3 3 6 2 6]

array([1, 2, 3, 3, 3, 5, 6, 6, 6, 7])

In [38]:
arr1 = np.zeros((5,5))
print("Array:\n",arr1)
arr2 = arr1 + np.arange(5)
arr2

Array:
 [[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

array([[0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.]])

In [39]:
arr1 = np.random.randint(0,5,size=5)
arr2 = np.random.randint(0,5,size=5)
if np.equal == True:
    print("Both arrays are equal")
else:
    print("Both arrays are not equal")

Both arrays are not equal

In [40]:
np.allclose(arr1,arr2)

False

In [44]:
arr1 = np.random.randint(1,10,size=10)
print("Array:\n",arr1)
result = np.where((arr1==np.max(arr1)),0,arr1)
result

Array:
 [3 1 2 6 9 4 7 1 8 2]

array([3, 1, 2, 6, 0, 4, 7, 1, 8, 2])

In [45]:
arr1 = np.array([[[1,2,3],[4,5,6],[7,8,9]]])
for i in np.nditer(arr1):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [46]:
arr1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
for index,value in np.ndenumerate(arr1):
    print(f"{index} index has {value} values")

(0, 0) index has 1 values
(0, 1) index has 2 values
(0, 2) index has 3 values
(1, 0) index has 4 values
(1, 1) index has 5 values
(1, 2) index has 6 values
(2, 0) index has 7 values
(2, 1) index has 8 values
(2, 2) index has 9 values

In [48]:
arr1 = np.array([[4,3,1],[5,8,9],[3,4,5]])
print("Array:\n",arr1)
arr1[[0,2]] = arr1[[2,0]]
arr1

Array:
 [[4 3 1]
 [5 8 9]
 [3 4 5]]

array([[3, 4, 5],
       [5, 8, 9],
       [4, 3, 1]])

In [49]:
arr1 = np.array([1,2,3,4,5,6,7,8,9,10])
np.mean(arr1)

5.5

In [50]:
arr1 = np.array([1,2,3,4,5,6,7,8,9,10])
np.median(arr1)

5.5

In [51]:
arr1 = np.random.randint(1,10,size =10)
print(arr1)
np.std(arr1)

[6 5 9 5 2 6 4 8 5 2]

2.1354156504062622

In [52]:
from scipy.stats import mode
arr1 = np.array([1,2,3,4,5,6,7,8,9,10])
mode1 = mode(arr1)
mode1

ModeResult(mode=1, count=1)

In [53]:
result = np.around(5.3423,2)
result

5.34

In [54]:
arr1 = np.array([[2,3],[3,4]])
print("Array:\n",arr1)
np.linalg.inv(arr1)

Array:
 [[2 3]
 [3 4]]

array([[-4.,  3.],
       [ 3., -2.]])

In [55]:
x = np.array([1,2,3])
y = np.array([4,5,6])
np.cov(x,y)

array([[1., 1.],
       [1., 1.]])

In [56]:
arr1 = np.array([1,1,2,2,3,4,5,6,7,8,9,6,4,3,6,7])
result = mode(arr1)[0]
result

6

In [57]:
arr1 = np.array([1,2,3,4,5,6,7,8,9,10])
print(arr1)
arr1.shape
arr2 = np.reshape(arr1,(2,5,1))
arr2

[ 1  2  3  4  5  6  7  8  9 10]

array([[[ 1],
        [ 2],
        [ 3],
        [ 4],
        [ 5]],

       [[ 6],
        [ 7],
        [ 8],
        [ 9],
        [10]]])

In [58]:
arr1 = np.random.randint(1,20,size=(1,2,3,4))
print(arr1)
arr2 = np.reshape(arr1,(6,4))
arr2

[[[[18 11  9  2]
   [17 19 12 10]
   [ 3 19  8  3]]

  [[19 17  3  7]
   [ 5 18  1 10]
   [ 5  9  7 14]]]]

array([[18, 11,  9,  2],
       [17, 19, 12, 10],
       [ 3, 19,  8,  3],
       [19, 17,  3,  7],
       [ 5, 18,  1, 10],
       [ 5,  9,  7, 14]])

In [59]:
arr1 = np.zeros(10,dtype=int)
arr1

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [60]:
arr1 = np.array([[1,2,3,4],[5,6,8,7],[3,4,5,6]])
arr1.shape

(3, 4)